<!-- Top navigation -->
<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0">
        <img class="brand-logo" src="" alt="Logo">
    </a>
</nav>

<!-- Sidebar navigation -->
<div class="container-fluid py-5">
    <div class="row">

        <nav class="col-md-2 d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active">
                            <i class="fas fa-user"></i>User Profile
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" routerLink="/alumnos">
                            <i class="fas fa-prescription"></i>Student
                        </a>
                    </li>
                    <!-- Calling SignOut() Api from AuthService -->
                    <li class="nav-item">
                        <a class="nav-link" (click)="authService.SignOut()">
                            <i class="fas fa-sign-out-alt"></i>Log out
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <app-alumno1></app-alumno1>
                </div>

                <div class="col-md-6">
                    <app-alumnos-lista></app-alumnos-lista>
                </div>
            </div>
        </div>