<div [hidden]="enviar">
    <h2>Formulario Cliente</h2>
    <form (ngSubmit)="onSubmit()" #clienteform="ngForm" >

        <div class="form-group">
            <label for="nombre">Nombre</label>
            <input type="text" class="form-control" name="nombre" id="nombre" required [(ngModel)]='cliente.nombre' #name="ngModel">
            <div [hidden]="name.valid || name.pristine">
                Nombre requerido
            </div>
        </div>

        <div class="form-group">
            <label for="edad">Edad</label>
            <input type="text" name="edad" id="edad" class="form-control" [(ngModel)]="cliente.edad">
        </div>

        <div class="form-group">
            <label for="nacionalidades">Nacionalidad</label>
            <select name="nacionalidades" id="nacionalidades" class="form-control"  required [(ngModel)]="cliente.nacionalidad" #nacionalidades="ngModel">
                <option *ngFor="let nacion of nacionalidad" [value]="nacion"> {{nacion}} </option>
            </select>
            <div [hidden]="nacionalidades.valid || nacionalidades.pristine" class="alert alert-danger">
                Nacionalidad requerida
            </div>
        </div>

        <button type="submit" class="btn btn-success" [disabled]="!clienteform.form.valid">Submit</button>
    </form>
</div>

<div [hidden]="!enviar">
    <h2>Enviar Cliente</h2>
    <hr>
    <div><span class="badge badge-info">Id</span>->{{cliente.id}}</div>
    <div><span class="badge badge-info">Nombre</span>->{{cliente.nombre}}</div>
    <div><span class="badge badge-info">Edad</span>->{{cliente.edad}}</div>
    <div><span class="badge badge-info">Nacionalidad</span>->{{cliente.nacionalidad}}</div>
    <br>
    <button class="btn btn-primary" (click)="enviar=false">Edit</button>
</div>

